<div class="header">
    <nav>
        <h1>
            <a href="/">TMDB Clone</a>
        </h1>
        <div class="header_right">
            <div class="search_container">
                <input type="text" placeholder="Search..." class="search_movies"/>
                <button class="search_movies_btn">
                    <img src="icons/loupe.png" alt="">
                </button>
            </div>
            <div class="watchlist_div">
                <img src="icons/film.png" alt="watchlist" class="watchlist_icon">
                <span class="badge">0</span>
            </div>
        </div>
    </nav>
</div>